// ~ = webpack module resolver
@import '~styles/imports'

$robotoPath = $fontPath + '/Roboto'

font-face($family, $fileName, $weight, $style)
  $fileName = $family + '-' + $fileName
  $filePath = $robotoPath + '/' + $fileName
  font-family: $family
  src: url($filePath + '.eot')
  src: url($filePath + '.eot?#iefix') format('embedded-opentype'),
       url($filePath + '.woff') format('woff'),
       url($filePath + '.ttf') format('ttf'),
       url($filePath + '.svg#' + $fileName) format('svg')
  font-weight: $weight
  font-style: $style

@font-face
  font-face('Roboto', 'Regular', 400, normal)

@font-face
  font-face('Roboto', 'Italic', 400, italic)

@font-face
  font-face('Roboto', 'Bold', 700, normal)

@font-face
  font-face('Roboto', 'BoldItalic', 700, italic)

@font-face
  font-face('Roboto', 'Light', 300, normal)

@font-face
  font-face('Roboto', 'LightItalic', 300, italic)
